<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nexifour Album | Verify email address</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: "Raleway", sans-serif;
      }
    </style>
  </head>
  <body style="font-family: Arial, Helvetica, sans-serif">
    <img
      src="https://res.cloudinary.com/dx5ilizca/image/upload/v1710880420/Nexifour_8_bnpphs.png"
      alt="Nexifour Album logo"
      style="width: 250px; margin-top: 50px; margin: 10px;"
    />
    <div style="margin: 10px">
      <h1 style="font-weight: 900">Verify Email Address</h1>
      <p style="margin: 0">Hello Yasir Ado Hassan,</p>
      <p>
        Thanks for signing up to our platform, we are thrilled to have you with
        us.
      </p>

      <a href=" https://api...">
        <button
          style="
            background-color: #0d6efd;
            color: white;
            padding: 10px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
          "
        >
          Verify email address
        </button>
      </a>

      <p style="margin-top: 50px; color: grey; font-size: 12px">
        Copyright © <span id="currentYear"></span> Nexifour Album. All rights
        reserved.
      </p>
    </div>
    <script>
      // Get the current year
      var currentYear = new Date().getFullYear();

      // Update the content of the placeholder element
      document.getElementById("currentYear").textContent = currentYear;
    </script>
  </body>
</html>
